body {
    padding-top: 20px;
    background: #F5F8FA;
}

#view .panel-body > div {
    white-space: pre-wrap;
    word-break: break-word;
}

#create textarea {
    width: 100%;
    border: none;
    min-height: 500px;
    resize: vertical;
    padding: 10px 20px;
}

#create button {
    border-radius: 0px;
}

.footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: right;
    color:#555;
    font-size: 20px;
}

.footer > a{
    color:inherit;
}
